/* Root: */
:root{
  --primary-color: #243758;
  --secondary-color: #1a2754;
  --text-white: #ffffff;
  --bg-light: #f4f4f4;
}
/******************************************/


/* Estilização padrão para toda a pagina */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
/******************************************/


/* Estilização da section cabelçalho */
#cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: var(--primary-color);
}

#navegation ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
/******************************************/


/* Estilização da section HOME*/
.home {
  display: flex;
  justify-content: space-around;
  margin: 35px 0;
}

.container-h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/******************************************/


/* Estilização da section ABOUT */
.about{
  display: flex;
  justify-content: space-around;
  margin: 300px 0px;
}

.container-about-text{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 165px;
}
/******************************************/


/* Estilização da section SERVICES */
#services {
  color: var(--text-white);
  display: flex;
  flex-direction: column; /* Coloca o título em cima e os cards embaixo */
  background-color: var(--primary-color);
  padding: 40px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between; /* Distribui os cards com espaço igual entre eles */
  gap: 20px; /* Espaçamento de segurança entre os cards */
}

.container-img-icon {
  flex: 1; /* Faz com que todos os cards tenham a mesma largura */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o ícone, texto e botão dentro do card */
  text-align: center;
  padding: 20px;
}
/******************************************/

/* Estilização da section PLANOS */
#plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  padding: 20px 50px;

}

.container-plans{
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.content-plans{
  border: 4px solid var(--secondary-color);
  padding: 10px;
  gap: 30px;
  display: flex;
  flex-direction: column; /* Coloca os planos lado a lado */
  justify-content: center; /* Centraliza os planos na seção */
 /* IMPEDE QUE OS ITENS ESTIQUEM NA VERTICAL */
}

#plans ul {
  list-style: square;
}


/******************************************/


/* Estilização da section PLANOS */
footer {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-white);
  padding: 15px 20px;

}

/******************************************/

/* Formatação dos TEXTO */
#cabecalho h2 {
  color: var(--text-white);
}
#cabecalho h2 {
  font-size: 26px;

}

#navegation ul li a {
  color: var(--text-white);
  text-decoration: none;
  font-weight: bold;
}

h1{
  font-size: 46px;
  color: var(--secondary-color);
}

.btn{
  background-color: var(--primary-color);
  color: var(--text-white);
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  width: 125px;
}

section .container-about-text h2{
  font-size: 36px;
  color: var(--secondary-color);
  border-left: var(--secondary-color) 5px solid;
  padding: 5px 10px;
}

.txt-services {
  align-self: flex-start;
  margin: 30px 100px;
  font-size: 2rem;
}

.btn-container{
  border-radius: 20px;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  width: 190px;
}

#plans h3{
  font-size: 36px;
  border-bottom: var(--secondary-color) 3px solid;
  padding: 5px 10px;
}

.container-plans ul li{
  font-size: 16px;
  line-height: 1.9;
}

.link-plans{
  text-decoration: none;
  color: var(--text-white);
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  width: 145px;
  text-align: center;
}

.txt-plans {
  margin-top: 0;          /* Remove espaço extra acima do título */
  margin-bottom: 40px;    /* Cria o espaço entre o título e os planos abaixo */
  font-size: 2.5rem;
  width: 100%;            /* Opcional: faz o h2 ocupar a largura toda para alinhamento */
  text-align: start;     /* Garante que o texto fique centralizado */
}